.js-fall-faller {
	position: absolute; 
	
	z-index: 9000; 
	top: 15px;
	left: 15px;
	
	cursor: url('target.png'), default;
}

.js-fall-faller img {
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.js-fall-explosion {
	position: absolute; 
	z-index: 8999; 
	
	width: 157px;
	height: 229px;
	background-image: url('explosion-sprite.gif');
	background-repeat: no-repeat;
}

.js-fall-splat {
	position: absolute; 
	z-index: 8998; 
	
	width: 80px;
	height: 80px;
	background-image: url('splat.png');
}

.js-fall-score {
	position: fixed;
	bottom: 30px;
	left: 30px;
	
	font-family: Courier, Sans-Serif;
	font-size: 20pt;
	
	user-select: none;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}